@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Esteban&display=swap');

:root{
    --main-bg: #F2C886;
    --accent: #A91A1A;
    --elemnts-bg: #FFE8C5;
    --lines: 3px solid #000000;
    --main-bg-color: #F2C886;
    --second-bg-color: #FFE8C5;
    --main-txt-color: #000000;
    --main-button-color: #A91A1A;
}

body{
    background-color: var(--main-bg);
}

*{
    box-sizing: border-box;
    font-family: 'Cuprum';
    margin: 0px;
    padding: 0px;
}

/* Open Header */

.container-header{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--second-bg-color);
  margin-bottom: 100px;
  margin-top: 50px;
}
.container-header li{
  border: 1px solid black;
  text-align: center;
  /* padding-top: 1.2vw; */
  padding: auto 0;
}
.icon-header{
  width: 50px;
}
.container-header li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem-header-1{
  grid-row-start: 1;
  grid-row-end: 3;
}
.logo{
  width: 150px;
}
.elem-header-8{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
/* Close Header */

.container{
    max-width: 1500px;
    padding: 0px 30px;
    margin: 0px auto;
}

.about__top{
    display: flex;
}

.right__top{
    padding: 200px 0px 0px 105px;
}

.right__top p{
    font-size: 40px;
    line-height: 54px;
}

.right__top button{
    margin-top: 70px;
    width: 200px;
    height: 80px;
    border: none;
    background-color: var(--accent);
}

.left__top{
    width: 45%;
    padding: 0px 219px 292px 0px;
    position: relative;
    border-right: var(--lines);
}

.right__top{
    width: 55%;
}

.rectengle__top{
    background-color: var(--elemnts-bg);
    width: 400px;
    height: 470px;
    position: relative;
    z-index: 2;
}

.img_top{
    position: absolute;
    top: 146px;
    left: 96px;
    z-index: 3;
}

.not__bg__rectengle{
    z-index: 1;
    position: absolute;
    top: 90px;
    left: 145px;
    width: 400px;
    height: 470px;
    border: var(--lines);
}

.about__bottom{
    display: flex;
}

.left__bottom{
    padding: 80px 0px 50px 0px;
    width: 55%;
    border-top: var(--lines);
    border-right: var(--lines);
}

.car__text{
    display: flex;
}

.car__text img{
    height: 69px;
}

.car__text p{
    font-size: 40px;
    margin-left: 25px;
    max-width: 620px;
}

.car__text:not(:first-child){
    margin-top: 30px;
}

.right__bottom{
    width: 45%;
    border-top: var(--lines);
    padding: 60px 0px 0px 120px;
}

.rectengle__bottom{
    position: relative;
    padding: 40px;
    width: 445px;
    height: 400px;
    background-color: var(--elemnts-bg);
}

.rectengle__bottom img{
    position: absolute;
    top: -40px;
    left: -50px;
}
main{
  margin-bottom: 100px;
}

/* Open footer */

footer{
  margin-bottom: 1vw;
}
.div-footer{
  background-color: var(--second-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.2fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0;
  border: 1px solid black;
  margin-bottom: 50px;
}
.footer-li-1{
   border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-2{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-3{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-4{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5  ;
}
.footer-li-4 img{
  width: 231px;
}
.footer-li-5{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-6{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-7{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-8{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-9{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-10{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-11{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0 2vw;
}
.footer-li-11 p{
  font-size: 24px;
}

/* Close footer */

@media (max-width:1360px) {
    .about__top{
        max-height: 500px;
    }
    .right__top{
        padding: 50px;
        padding-top: 100px;
    }
    .right__top p{
        font-size: 26px;
        line-height: 40px;
    }
    .right__top button{
        width: 180px;
        height: 60px;
    }
    .left__top{
        padding: 0px;
    }
    .rectengle__top{
        top: 30px;
        left: 20px;
        width: 250px;
        height: 250px;
    }
    .not__bg__rectengle{
        top: -400px;
        left: 50px;
        width: 250px;
        height: 250px;
        position: relative;
    }
    .img_top{
        top: -200px;
        height: 250px;
        width: 250px;
        position: relative;
    }
    .car__text p{
        font-size: 28px;
    }
    .car__text img{
        width: 40px;
    }
    
    .rectengle__bottom{
        width: 90%;
    }
    .rectengle__bottom img{
        top: 0px;
        height: 80%;
    }
}

@media (max-width:900px) {
    .about__top{
        max-height: max-content;
        display: block;
    }
    .right__top{
        width: 100%;
        padding: 0 50pxpx;
    }
    .left__top{
        max-height: 450px;
        width: 100%;
        border-right: none;
    }
    .rectengle__top{
        top: 60px;
        width: 60%;
        height: 400px;
        margin: 0px auto;
    }
    .img_top{
        top: -300px;
        width: 60%;
        height: 400px;
    }
    .not__bg__rectengle{
        z-index: 2;
        width: 70%;
        top: -650px;
        left: 200px;
    }
    .car__text p{
        font-size: 18px;
    }
    .car__text img{
        width: 30px;
    }
    .div-footer{
  background-color: var(--second-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 0 1.2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0;
  border: 1px solid black;
  margin-bottom: 50px;
}
.footer-li-1{
   border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-2{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-4{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5  ;
}
.footer-li-4 img{
  width: 209px;
}
.footer-li-5{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-6{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-7{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-8{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  padding-left: 77px;
  align-items: center;
}
.footer-li-9{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-10{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  padding-right: 77px;
  align-items: center;
}
.footer-li-11{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0 2vw;
}
.footer-li-11 p{
  font-size: 20px;
}
}

@media (max-width:650px) {
    .about__bottom{
        display: block;
    }
    .rectengle__bottom{
        margin-top: 20px;
        width: 100%;
    }
    .left__bottom{
        padding: 30px 0px;
        border-right: none;
        width: 100%;
    }
    .right__bottom{
        display: none;
    }
    .right__top{
        padding: 0px;
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .right__top button{
        margin-top: 30px;
    }
    .right__top p{
        font-size: 22px;
    }
    .car__text:not(:first-child){
        margin-top: 10px;
    }
    .left__top{
        padding: 0px;
    }
    .rectengle__top{
        width: 80%;
    }
    .not__bg__rectengle{
        left: 30px;
        width: 80%;
    }
    .img_top{
        width: 70%;
    }
    .div-footer{
  background-color: var(--second-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 0 1.2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0;
  border: 1px solid black;
  margin-bottom: 50px;
}
.footer-li-1{
   border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-2{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-4{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5  ;
}
.footer-li-4 img{
  width: 209px;
}
.footer-li-5{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-6{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-7{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-8{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  padding-left: 77px;
  align-items: center;
}
.footer-li-9{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-10{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  padding-right: 77px;
  align-items: center;
}
.footer-li-11{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0 2vw;
}
.footer-li-11 p{
  font-size: 20px;
}
}

@media (max-width:500px) {
    .container-header{
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 0px;
  }
  .icon-header{
    width: 38px;
  }
  .elem-header-1{
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .logo{
    width: 130px;
  }
  .elem-header-8{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
    .right__top button{
        width: 120px;
        height: 50px;
    }
    .right__top{
        padding-top: 80px;
    }
    .right__top p{
        font-size: 18px;
        line-height: 30px;
    }
    .rectengle__top{
        width: 100%;
        position: relative;
        left: 0px;
    }
    .img_top{
        width: 100%;
        left: 10px;
    }
    main{
      margin-bottom: 50px;
    }
    .div-footer{
    background-color: var(--second-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 87px 87px 87px 87px 210px 120px;
    grid-gap: 0;
    border: 1px solid black;
    margin-bottom: 50px;
  }
  .footer-li-1{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-2{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-4{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: none;
  }
  .footer-li-4 img{
    width: 209px;
  }
  .footer-li-5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-6{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-8{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    padding-left: 77px;
    align-items: center;
  }
  .footer-li-9{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-10{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding-right: 77px;
    align-items: center;
  }
  .footer-li-11{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 0 2vw;
    border-top: none;
  }
  .footer-li-11 p{
    font-size: 20px;
  }
}