@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Cuprum', sans-serif;
  object-fit: cover;
}
html{
    scroll-behavior: smooth;   
    overflow-x: hidden;
}
:root{
    --main-bg-color: #F2C886;
    --second-bg-color: #FFE8C5;
    --main-txt-color: #000000;
    --main-button-color: #A91A1A;
}
body{
  width: 100vw;
  background-color: var(--main-bg-color);
}
body::-webkit-scrollbar {
  width: 1vw;               
}
body::-webkit-scrollbar-track {
  background: var(--second-bg-color);        
}
body::-webkit-scrollbar-thumb {
  background-color: black;    
  border: 1px solid black;
}
.container{
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
}
/* Open Header */

.container-header{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--second-bg-color);
  margin-bottom: 100px;
  margin-top: 50px;
}
.container-header li{
  border: 1px solid black;
  text-align: center;
  /* padding-top: 1.2vw; */
  padding: auto 0;
}
.icon-header{
  width: 38px;
}
.container-header li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem-header-1{
  grid-row-start: 1;
  grid-row-end: 3;
}
.logo{
  width: 150px;
}
.elem-header-8{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
/* Close Header */


/* Open section cart */

.top-div{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px;
  margin-bottom: 20px;
}
.top-div div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: var(--main-button-color);
  color: var(--second-bg-color);
  border: 2px solid black;
}
.center-div{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 225px;
  margin-bottom: 20px;
}
.center-div > div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: var(--second-bg-color);
  color: black;
  border: 2px solid black;
}
.center-div div:first-child{
  padding-right: 50px;
  justify-content: space-between;
}
.center-div div:first-child img{
  width: 242px;
  height: 100%;
}
.center-div div:nth-child(4){
  flex-direction: column;
  justify-content: space-around;
}
.center-div div:nth-child(4) div{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 65px;
}
.center-div div:nth-child(4) div p{
  padding: 0 20px;
  font-size: 40px;
}
.center-div div:nth-child(4) div button{
  font-size: 40px;
  background: none;
  border: none;
}
button:hover{
  cursor: pointer;
}
.center-div div:nth-child(4) > button{
  font-size: 24px;
  text-decoration: underline;
  background: none;
  border: none;
}
.bottom-div{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px;
  margin-bottom: 100px;
}
.bottom-div div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: var(--second-bg-color);
  color: black;
  border: 2px solid black;
}
.bottom-div div:nth-child(3){
  color: var(--main-button-color);
}
.bottom-div div:nth-child(4){
  background-color: var(--main-bg-color);
  border: none;
}
.bottom-div div button{
  width: 100%;
  height: 100%;
  font-size: 48px;
  background-color: var(--main-button-color);
  color: var(--second-bg-color);
}

/* Close section cart */


/* Open footer */

footer{
  margin-bottom: 1vw;
}
.div-footer{
  background-color: var(--second-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.2fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0;
  border: 1px solid black;
  margin-bottom: 50px;
}
.footer-li-1{
   border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-2{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-3{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-4{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5  ;
}
.footer-li-4 img{
  width: 231px;
}
.footer-li-5{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-6{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-7{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-8{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-9{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-10{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-11{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0 2vw;
}
.footer-li-11 p{
  font-size: 24px;
}

/* Close footer */

@media screen and (min-width: 1290px) and (max-width: 1590px){
  .container{
    width: 1290px;
  }
  .center-div div:first-child{
    padding-right: 15px;
    justify-content: space-between;
    font-size: 36px;
  }
  .center-div div:first-child img{
    width: 220px;
  }
  .center-div div:nth-child(4) div{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 65px;
  }
}
@media screen and (min-width: 899px) and (max-width: 1290px){
  .container{
    width: 890px;
  }
  .top-div{
    grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr;
  }
  .top-div div{
    font-size: 32px;
  }
  .center-div{
    grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 265px;
  }
  .center-div div:first-child{
    padding-right: 0;
    justify-content: baseline;
    flex-direction: column;
    font-size: 32px;
    text-align: center;
  }
  .center-div div:first-child img{
    width: 100%;
    height: 189px;
  }
  .center-div div:nth-child(4) div{
    margin-left: 10px;
    margin-top: 80px;
  }
  .bottom-div{
    grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 630px) and (max-width: 899px){
    .container{
    width: 630px;
  }
  .container-header{
    margin-bottom: 50px;
  }
  .top-div{
    grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr;
  }
  .top-div div{
    font-size: 24px;
  }
  .center-div{
    grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 190px;
  }
  .center-div > div{
    font-size: 24px;
  }
  .center-div div:first-child{
    padding-right: 0;
    justify-content: baseline;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
  }
  .center-div div:first-child img{
    margin-top: 20px;
    width: 103px;
    height: 107px;
  }
  .center-div div:nth-child(4) > button{
    font-size: 18px;
  }
  .center-div div:nth-child(4) div{
    margin-left: 10px;
    margin-top: 60px;
  }
  .center-div div:nth-child(4) div p{
    font-size: 24px;
  }
  .center-div div:nth-child(4) div button{
    font-size: 24px;
  } 
  .bottom-div{
    grid-template-columns: 1.3fr 1fr 1fr 0fr 2fr;
  }
  .bottom-div div button{
    width: 144px;
    height: 70px;
    font-size: 36px;
    background-color: var(--main-button-color);
    color: var(--second-bg-color);
  }
  .div-footer{
  background-color: var(--second-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 0 1.2fr;
  grid-template-rows: repeat(5, 80px);
  grid-gap: 0;
  border: 1px solid black;
  margin-bottom: 50px;
}
.footer-li-1{
   border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-2{
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-4{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5  ;
  }
  .footer-li-4 img{
    width: 209px;
  }
  .footer-li-5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-6{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-8{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    padding-left: 77px;
    align-items: center;
  }
  .footer-li-9{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-10{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding-right: 77px;
    align-items: center;
  }
  .footer-li-11{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 0 2vw;
  }
  .footer-li-11 p{
    font-size: 20px;
  }
}
@media screen  and (max-width: 630px){
  .container{
    width: 380px;
  }
  .container-header{
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  }
  .icon-header{
    width: 38px;
  }
  .elem-header-1{
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .logo{
    width: 130px;
  }
  .elem-header-8{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .container-header{
    margin-bottom: 50px;
  }
  .div-footer{
    background-color: var(--second-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 87px 87px 87px 87px 210px 120px;
    grid-gap: 0;
    border: 1px solid black;
    margin-bottom: 50px;
  }
  .footer-li-1{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-2{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-4{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: none;
  }
  .footer-li-4 img{
    width: 209px;
  }
  .footer-li-5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-6{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-8{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    padding-left: 77px;
    align-items: center;
  }
  .footer-li-9{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-10{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding-right: 77px;
    align-items: center;
  }
  .footer-li-11{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 0 2vw;
    border-top: none;
  }
  .footer-li-11 p{
    font-size: 20px;
  }
}
