@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-main: #F2C886;
    --bg-items: #FFE8C5;
    --accent: #A91A1A;
    --lines: black;
    --main-bg-color: #F2C886;
    --second-bg-color: #FFE8C5;
    --main-txt-color: #000000;
    --main-button-color: #A91A1A;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cuprum';
}

body{
    z-index: 0;
    overflow-x: hidden;
    position: relative;
    background-color: var(--bg-main);
}
body{
  width: 100vw;
  background-color: var(--main-bg-color);
}
body::-webkit-scrollbar {
  width: 1vw;               
}
body::-webkit-scrollbar-track {
  background: var(--second-bg-color);        
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color);    
  border: 1px solid black;
}
/* Open Header */

.container-header{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--second-bg-color);
  margin-bottom: 0px;
  margin-top: 50px;
}
.container-header li{
  border: 1px solid black;
  text-align: center;
  /* padding-top: 1.2vw; */
  padding: auto 0;
}
.icon-header{
  width: 38px;
}
.container-header li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem-header-1{
  grid-row-start: 1;
  grid-row-end: 3;
}
.logo{
  width: 150px;
}
.elem-header-8{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
/* Close Header */

.container {
    margin: 0px auto;
    max-width: 1500px;
    padding: 0px 30px;
}

.title_and_filters {
    margin-right: 40px;
}

.filters_mobile{
    display: none;
}

.title {
    font-size: 36px;
}

.title img{
    display: none;
}

input[type=text]{
    border: 2px solid var(--lines);
    background-color: #FFE8C5;
}

input[type=text]:focus{
    outline: none;
}

.catalog {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.filters{
    margin-top: 30px;
    border: 2px solid var(--lines);
}

.filter_block {
    padding: 20px;
}

.filter_block:not(:last-child) {
    border-bottom: 2px solid var(--lines);
}

.radio{
    display: none;
}

label {
    cursor: pointer;
    padding: 5px;
    display: block;
    font-size: 18px;
}

.radio:checked + label {
    background-color: var(--bg-items);
}

.filter_block h3{
    margin-bottom: 10px;
    font-size: 22px;
}

.range {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.range p{
    font-size: 18px;
    margin-right: 5px;
}

.range input {
    padding: 3px 10px;
    width: 200px;
    font-size: 16px;
}

.filter_block button {
    cursor: pointer;
    margin-left: auto;
    margin-top: 15px;
    background-color: #A91A1A;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}

.filter_block button img{
    transition: 0.5s ease all;
    width: 80%;
}

.filter_block button:hover img{
    transform: translateX(10px);
}

.search_and_catalog {
    width: 100%;
}

.search {
    
}

.search_form{
    margin-top: 25px;
    justify-content: flex-end;
    display: flex;
}

.search_form input{
    padding: 5px 10px;
    color: black;
    font-size: 20px;
    width: 600px;
    height: 47px;
}

.search_form button{
    cursor: pointer;
    margin-left: -2px;
    background-color: #A91A1A;
    border: 2px solid black;
    color: #FFE8C5;
    font-size: 20px;
    padding: 10px 50px;
}

.catalog_list {
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.catalog_item{
    position: relative;
    max-width: 33.333%;
    max-height: 316px;
    padding: 20px;
}

.product{
    cursor: pointer;
    width: 100%;
    max-height: 276px;
    z-index: 1;
}

.item_wrapper {
    overflow: hidden;
    position: relative;
    max-height: 276px;
}

.rectengle {
    top: 0px;
    left: 0px;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    background-color: black;
    transform: translateX(-100%);
    opacity: 0;
}

.catalog_item:hover .rectengle{
    transform: translateX(0);
    opacity: 0.4;
}

.catalog_item:hover .item_title{
    transform: translateY(0px);
    opacity: 1;
}

.catalog_item:hover .click_me{
    transform: translateY(0px);
    opacity: 1;
}

.item_title {
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(-30px);
    z-index: 3;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFE8C5;
}

.item_title h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.item_title p{
    font-size: 24px;
}

.click_me {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
    border: none;
    z-index: 3;
    position: absolute;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    background-color: #A91A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}

.click_me img{
    transition: 0.5s ease all;
    width: 80%;
}

.click_me:hover img{
    transform: translateX(10px);
}

.catalog_item:nth-child(n+4){
    border-top: 2px solid var(--lines);
}

.catalog_item:not(:nth-child(3n+3)){
    border-right: 2px solid var(--lines);
}

@media (max-width:1100px) {
    .range input {
        padding: 2px 10px;
        width: 120px;
        font-size: 14px;
    }

    .catalog_item {
        max-width: 50%;
    }

    .catalog_item:nth-child(n+4){
        border-top: none;
    }

    .catalog_item:nth-child(n+3){
        border-top: 2px solid var(--lines);
    }
    
    .catalog_item:not(:nth-child(3n+3)){
        border-right: none;
    }

    .catalog_item:nth-child(odd){
        border-right: 2px solid var(--lines);
    }

    .search_form input{
        width: 60%;
    }

    .title{
        font-size: 26px;
    }
}

@media (max-width:768px) {
    .title_and_filters{
        margin-right: 0px;
    }
    .search_form input{
        width: 100%;
    }
    .catalog_item{
        padding: 10px;
    }
    .catalog{
        flex-direction: column;
    }
    .title{
        display: flex;
        justify-content: space-between;
    }
    .title img{
        display: block;
        width: 30px;
    }

    .filters_mobile{
        overflow: hidden;
        position: fixed;
        z-index: 5;
        display: block;
        transition: all 0.5s ease;
        width: 100%;
        background-color: #F2C886;
        padding: 20px;
        padding-top: 80px;
        top: 0px;
        right: -100%;
        height: 100%;
    }

    .close{
        position: absolute;
        right: 20px;
        top: 60px;
    }

    .pc{
        display: none;
    }
}

@media (max-width:550px) {
    .container-header{
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 50px;
  }
  .icon-header{
    width: 38px;
  }
  .elem-header-1{
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .logo{
    width: 130px;
  }
  .elem-header-8{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }  
  .container {
        padding: 0px 15px;
    }

    .item_title{
        top: 10px;
        left: 10px;
    }
    .catalog_item h3{
        font-size: 18px;
    }

    .catalog_item p{
        font-size: 16px;
    }

    .click_me{
        width: 40%;
        bottom: 10px;
        right: 10px;
    }
    
    .search_form input{
        height: 40px;
        font-size: 18px;
    }
    .search_form button{
        text-align: center;
        padding: 8px 20px;
        width: 30%;
        height: 40px;
        font-size: 18px;
    }
}

.if_menu_open{
    overflow: hidden;
}

.open{
    right: 0px;
}

.filters_mobile .range input{
    width: 80%;
    height: 30px;
}