@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Cuprum', sans-serif;
  object-fit: cover;
}
html{
    scroll-behavior: smooth;   
    overflow-x: hidden;
}
:root{
    --main-bg-color: #F2C886;
    --second-bg-color: #FFE8C5;
    --main-txt-color: #000000;
    --main-button-color: #A91A1A;
}
body{
  width: 100vw;
  background-color: var(--main-bg-color);
}
body::-webkit-scrollbar {
  width: 1vw;               
}
body::-webkit-scrollbar-track {
  background: var(--second-bg-color);        
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color);    
  border: 1px solid black;
}
.container{
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
}
/* Open Header */

.container-header{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--second-bg-color);
  margin-bottom: 100px;
  margin-top: 50px;
}
.container-header li{
  border: 1px solid black;
  text-align: center;
  /* padding-top: 1.2vw; */
  padding: auto 0;
}
.icon-header{
  width: 38px;
}
.container-header li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem-header-1{
  grid-row-start: 1;
  grid-row-end: 3;
}
.logo{
  width: 150px;
}
.elem-header-8{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
/* Close Header */


/* Open delivery section */

.delivery{
  background-color: var(--second-bg-color);
  margin-bottom: 100px;
  height: 1062px;
  border: 2px solid black;
  position: relative;
}
.top-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
}
.top-div h1{
  font-size: 64px;
  margin-bottom: 30px;
}
.top-div h3{
  font-size: 48px;
  margin-bottom: 35px;
}
.top-div p{
  font-size: 40px;
  line-height: 1.4;
}
.top-div img{
  width: 700px;
  height: 504px;
}
hr{
  background-color: black;
  color: black;
  height: 2px;
  border: none;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-div{
  padding-left: 75px;
  padding-right: 50px;
  padding-top: 35px;
}
.bottom-div h3{
  font-size: 48px;
  margin-bottom: 35px;
}
.bottom-div p{
  width: 1350px;
  font-size: 40px;
  line-height: 1.4;
}
.bottom-div img{
  position: relative;
  width: 185px;
  height: 277px;
  left: 90.8%;
  bottom: 170px;
}

/* Close delivery section */


/* Open footer */

footer{
  margin-bottom: 1vw;
}
.div-footer{
  background-color: var(--second-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.2fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0;
  border: 1px solid black;
  margin-bottom: 50px;
}
.footer-li-1{
   border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-2{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-3{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-4{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5  ;
}
.footer-li-4 img{
  width: 231px;
}
.footer-li-5{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-6{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-7{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-8{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-9{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-10{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-11{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0 2vw;
}
.footer-li-11 p{
  font-size: 24px;
}

/* Close footer */


@media screen and (min-width: 1290px) and (max-width: 1590px){
  .container{
    width: 1290px;
  }
}


@media screen and (min-width: 899px) and (max-width: 1290px){
  .container{
    width: 890px;
  }
}


@media screen and (min-width: 630px) and (max-width: 899px){
    .container{
    width: 630px;
  }
  .div-footer{
  background-color: var(--second-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 0 1.2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0;
  border: 1px solid black;
  margin-bottom: 50px;
}
.footer-li-1{
   border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-2{
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-4{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5  ;
}
.footer-li-4 img{
  width: 209px;
}
.footer-li-5{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-6{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-7{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-8{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  padding-left: 77px;
  align-items: center;
}
.footer-li-9{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
    border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-li-10{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  padding-right: 77px;
  align-items: center;
}
.footer-li-11{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0 2vw;
}
.footer-li-11 p{
  font-size: 20px;
}
}

@media screen and (min-width: 380px) and (max-width: 630px){
  .container{
    width: 380px;
  }
  .container-header{
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  }
  .icon-header{
    width: 38px;
  }
  .elem-header-1{
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .logo{
    width: 130px;
  }
  .elem-header-8{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .div-footer{
    background-color: var(--second-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 87px 87px 87px 87px 210px 120px;
    grid-gap: 0;
    border: 1px solid black;
    margin-bottom: 50px;
  }
  .footer-li-1{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-2{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-4{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: none;
  }
  .footer-li-4 img{
    width: 209px;
  }
  .footer-li-5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-6{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-8{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    padding-left: 77px;
    align-items: center;
  }
  .footer-li-9{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
      border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-li-10{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding-right: 77px;
    align-items: center;
  }
  .footer-li-11{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 0 2vw;
    border-top: none;
  }
  .footer-li-11 p{
    font-size: 20px;
  }
}